* {
    box-sizing: border-box;
    margin: 0;
    font-family: Fira Sans;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

header {
    padding-top: 19px;
    padding-bottom: 9px;
    border-bottom: 1px solid #FEC80B;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.header__inner {
    display: flex;
    align-items: center;
    gap: 9px;
}

.header__inner-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    width: 167px;
}

.header__contact {
    display: flex;
    align-items: center;
    gap: 61px;
}

.header__contact>div:last-child {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header__contact-addrs {
    font-weight: 400;
    font-size: 15px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-align: right;
    color: #8b8b8b;
}

.header__contact-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
}

nav,
.nav__wrapper,
.nav__cta {
    display: flex;
    align-items: center;
}

nav {
    justify-content: space-between;
    padding: 16px 0;
}

.nav__wrapper {
    gap: 41px;
    padding: 16px 0px;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav__list-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #000;
}

.nav__cta {
    gap: 16px;
}

.nav__catalog {
    background-color: #F9F9F9;
}

.nav__catalog-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
    padding-bottom: 55px;
}

.nav__catalog-list-title {
    font-weight: 800;
    font-size: 22px;
    line-height: 160%;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-bottom: 16px;
}

.nav__catalog-list-link {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000;
    margin-bottom: 15px;
}

.nav__btn-catalog {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #000;
    background-color: #FEC80B;
    border: none;
    padding: 9px 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    cursor: pointer;
}

.nav__search {
    position: relative;
    width: 312px;
}

.nav__search input {
    width: 100%;
    border: 1px solid #FEC80B;
    border-radius: 40px;
    padding: 10px 12px;
    outline: none;
}

.nav__search img {
    position: absolute;
    right: 8px;
    top: 4px;
}

.hidden {
    display: none;
}