* {
  box-sizing: border-box;
  margin: 0;
  font-family: Fira Sans;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

footer {
  position: relative;
  background-color: #f2f2f2;
  padding: 62px 0;
}

.footer__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0%;
  margin-bottom: 5px;
}
.footer__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  margin-bottom: 38px;
}
.footer__img-truck {
  position: absolute;
  right: 0;
  bottom: -38px;
}
.footer__wrapper {
  display: flex;
  gap: 19px;
  align-items: end;
}
.footer__btn-submit {
  font-weight: 400;
  font-size: 16px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  background-color: #fec80b;
  padding: 13px 30px;
  border: none;
  border-radius: 4px;
}
footer input {
  padding: 11px 13px;
  border-radius: 4px;
  border: 1px solid;
  outline: none;
  margin-top: 4px;
  background-color: #f2f2f2;
}
footer label {
  font-weight: 400;
  font-size: 14px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
}
.footer__subtitle {
  font-family: Fira Sans;
  font-weight: 400;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #000000;
}
